# Content Filtering based on tags
- This notebooks takes in a movie lense dataset and creates a tag or large text corpus which is a combination of movie title,genre,cast,crews,summary of the plot for the movie. 
- The tag is then processed through natural language pre processing techniques to identify 5,000 most common occuring words
- We will create movie vector by identifying number of times each of word occurs in the movie tag. 
- We will use this matrix to compute the similarity between the movies using cosine similarity
- Finally we will test the recommendations

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
#from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [2]:
# Input file path
input_cleaned_file_path = '/Users/gauridhumal/Development Projects/UOL-PROJECTs/CRS/crs_ds/data/processed/movieLense'

In [3]:
# Utility function to read the files
def read_file(file_name):
    return pd.read_csv(open(f"{input_cleaned_file_path}/{file_name}", 'r'))

## Read Movie File

In [4]:
df_movie = read_file('movies_combined.csv')

In [5]:
df_movie.head(2)

,ml_id,title,release_year,imdb_id,unknown,Action,Adventure,Animation,Children's,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,plot_summary,crew,genre_tags
0,1,Toy Story,1995,tt0114709,0,0,0,1,1,1,...,0,0,0,0,0,0,0,Woody is a pull-string cowboy doll and leader ...,"[{""category"":""writer"",""crew_name"":""Joel Cohen""...","Animation, childrens, comedy"
1,2,GoldenEye,1995,tt0097446,0,1,1,0,0,0,...,0,0,0,0,1,0,0,NaN,"[{""category"":""composer"",""crew_name"":""Michael B...","action, adventure, thriller"

In [6]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663 entries, 0 to 1662
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ml_id         1663 non-null   int64
 1   title         1663 non-null   object
 2   release_year  1663 non-null   int64
 3   imdb_id       1663 non-null   object
 4   unknown       1663 non-null   int64
 5   Action        1663 non-null   int64
 6   Adventure     1663 non-null   int64
 7   Animation     1663 non-null   int64
 8   Children's    1663 non-null   int64
 9   Comedy        1663 non-null   int64
 10  Crime         1663 non-null   int64
 11  Documentary   1663 non-null   int64
 12  Drama         1663 non-null   int64
 13  Fantasy       1663 non-null   int64
 14  Film-Noir     1663 non-null   int64
 15  Horror        1663 non-null   int64
 16  Musical       1663 non-null   int64
 17  Mystery       1663 non-null   int64
 18  Romance       1663 non-null   int64
 19  Sci-Fi        1663 non-null   int64
 20  Thriller      1663 non-null   int64
 21  War           1663 non-null   int64
 22  Western       1663 non-null   int64
 23  plot_summary  854 non-null    object
 24  crew          1648 non-null   object
 25  genre_tags    1662 non-null   object
dtypes: int64(21), object(5)
memory usage: 337.9+ KB

In [7]:
df_movie.columns

Index(['ml_id', 'title', 'release_year', 'imdb_id', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children's', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'plot_summary', 'crew', 'genre_tags'],
      dtype='object')

## Create Movie Tag or text corpus

In [8]:
def create_combined_genre(x):
    '''
    This function creates a combined Genre tag for the movie.
    '''
    genre_tags=[]
    if x["Action"] == 1:
        genre_tags.append("action")
    if x["Adventure"] == 1:
        genre_tags.append("adventure")
    if x["Animation"] == 1:
        genre_tags.append("animation")
    if x["Children's"] == 1:
        genre_tags.append("childrens")
    if x["Crime"] == 1:
        genre_tags.append("crime")
    if x["Comedy"] == 1:
        genre_tags.append("comedy")
    if x["Documentary"] == 1:
        genre_tags.append("documentary")
    if x["Drama"] == 1:
        genre_tags.append("drama")
    if x["Fantasy"] == 1:
        genre_tags.append("fantasy")
    if x["Film-Noir"] == 1:
        genre_tags.append("film-Noir")
    if x["Horror"] == 1:
        genre_tags.append("horror")
    if x["Musical"] == 1:
        genre_tags.append("musical")
    if x["Mystery"] == 1:
        genre_tags.append("mystery")
    if x["Romance"] == 1:
        genre_tags.append("romance")
    if x["Sci-Fi"] == 1:
        genre_tags.append("sci-fi")
    if x["Thriller"] == 1:
        genre_tags.append("thriller")
    if x["War"] == 1:
        genre_tags.append("war")
    if x["Western"] == 1:
        genre_tags.append("western")
    return genre_tags

In [9]:
# Create a combined genre tag
df_movie["genre_comb_tag"]=df_movie.apply(create_combined_genre,axis=1)

In [10]:
df_movie.head(2)

,ml_id,title,release_year,imdb_id,unknown,Action,Adventure,Animation,Children's,Comedy,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,plot_summary,crew,genre_tags,genre_comb_tag
0,1,Toy Story,1995,tt0114709,0,0,0,1,1,1,...,0,0,0,0,0,0,Woody is a pull-string cowboy doll and leader ...,"[{""category"":""writer"",""crew_name"":""Joel Cohen""...","Animation, childrens, comedy","[animation, childrens, comedy]"
1,2,GoldenEye,1995,tt0097446,0,1,1,0,0,0,...,0,0,0,1,0,0,NaN,"[{""category"":""composer"",""crew_name"":""Michael B...","action, adventure, thriller","[action, adventure, thriller]"

In [11]:
# We want to create a dataframe that will have movie id, title and tags columns. Tags will contain a combined column of plot summary, crew,generes.
# This will allow us to search using any keyword present in the tags. For this we will have to do pre- processing to create such data.

In [12]:
# first check if any of the columns are null
df_movie.isnull().sum()

ml_id               0
title               0
release_year        0
imdb_id             0
unknown             0
Action              0
Adventure           0
Animation           0
Children's          0
Comedy              0
Crime               0
Documentary         0
Drama               0
Fantasy             0
Film-Noir           0
Horror              0
Musical             0
Mystery             0
Romance             0
Sci-Fi              0
Thriller            0
War                 0
Western             0
plot_summary      809
crew               15
genre_tags          1
genre_comb_tag      0
dtype: int64

In [13]:
# Drop records which have null value
df_movie.dropna(inplace=True)

In [14]:
df_movie.shape

(854, 27)

In [15]:
# we will extract crews and cast in seperate columns for easy processing
df_movie.loc[0]["crew"]

'[{"category":"writer","crew_name":"Joel Cohen"},{"category":"actor","crew_name":"Tom Hanks"},{"category":"actor","crew_name":"Tim Allen"},{"category":"actor","crew_name":"Don Rickles"},{"category":"actor","crew_name":"Jim Varney"},{"category":"director","crew_name":"John Lasseter"},{"category":"writer","crew_name":"Pete Docter"},{"category":"writer","crew_name":"Andrew Stanton"},{"category":"writer","crew_name":"Joe Ranft"},{"category":"writer","crew_name":"Joss Whedon"}]'

In [16]:
# Abstract syntax library to convert string dictionary to dictionary
import ast

In [17]:
def extract_crew(crew_obj):
    '''Function to extract cast and crew
    '''
    workers=[]
    directors=[]
    producers=[]
    actors=[]
    for item in ast.literal_eval(crew_obj):
        if item["category"]in["actor","actress"]:
            actors.append(item["crew_name"])
        else:
            if item["category"]in["director"]:
                directors.append(item["crew_name"])
            else:
                if item["category"]in["producer"]:
                    producers.append(item["crew_name"])
                else:
                    workers.append(item["crew_name"])
    return actors,directors,producers, workers

In [18]:
# Extract actors,directors,producers, workers
for index,row in df_movie.iterrows():
    actors,directors,producers, workers = extract_crew(row["crew"])
    df_movie.at[index,"actors"] = str(actors)
    df_movie.at[index,"directors"] = str(directors)
    df_movie.at[index,"producers"] = str(producers)
    df_movie.at[index,"workers"] = str(workers)

In [19]:
df_movie.head(3)

,ml_id,title,release_year,imdb_id,unknown,Action,Adventure,Animation,Children's,Comedy,...,War,Western,plot_summary,crew,genre_tags,genre_comb_tag,actors,directors,producers,workers
0,1,Toy Story,1995,tt0114709,0,0,0,1,1,1,...,0,0,Woody is a pull-string cowboy doll and leader ...,"[{""category"":""writer"",""crew_name"":""Joel Cohen""...","Animation, childrens, comedy","[animation, childrens, comedy]","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],[],"['Joel Cohen', 'Pete Docter', 'Andrew Stanton'..."
2,3,Four Rooms,1995,tt0113101,0,0,0,0,0,0,...,0,0,"The film is set on New Year's Eve, and starts ...","[{""category"":""producer"",""crew_name"":""Lawrence ...",thriller,[thriller],"['Tim Roth', 'Antonio Banderas', 'Sammi Davis'...","['Allison Anders', 'Alexandre Rockwell', 'Robe...",['Lawrence Bender'],[]
3,4,Get Shorty,1995,tt0113161,0,1,0,0,0,1,...,0,0,"Chili Palmer , a loan shark based in Miami, cl...","[{""category"":""composer"",""crew_name"":""John Luri...","action, comedy, drama","[action, comedy, drama]","['Gene Hackman', 'Rene Russo', 'Danny DeVito',...",['Barry Sonnenfeld'],"['Michael Shamberg', 'Stacey Sher']","['John Lurie', 'Elmore Leonard', 'Scott Frank']"

In [20]:
# Covert plot summary to a list
df_movie["plot_summary"]= df_movie["plot_summary"].apply(lambda x: x.split())

In [21]:
df_movie.head(1)

,ml_id,title,release_year,imdb_id,unknown,Action,Adventure,Animation,Children's,Comedy,...,War,Western,plot_summary,crew,genre_tags,genre_comb_tag,actors,directors,producers,workers
0,1,Toy Story,1995,tt0114709,0,0,0,1,1,1,...,0,0,"[Woody, is, a, pull-string, cowboy, doll, and,...","[{""category"":""writer"",""crew_name"":""Joel Cohen""...","Animation, childrens, comedy","[animation, childrens, comedy]","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],[],"['Joel Cohen', 'Pete Docter', 'Andrew Stanton'..."

In [22]:
# Drop columns which are not required for processing
df_movie.columns

Index(['ml_id', 'title', 'release_year', 'imdb_id', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children's', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'plot_summary', 'crew', 'genre_tags', 'genre_comb_tag', 'actors',
       'directors', 'producers', 'workers'],
      dtype='object')

In [23]:

colmns_to_drop=['unknown', 'Action','Adventure', 'Animation', "Children's", 'Comedy', 'Crime','Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical','Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western','crew',]

In [24]:
df_movie.drop(colmns_to_drop,axis=1,inplace=True)

In [25]:
df_movie.head(2)

,ml_id,title,release_year,imdb_id,plot_summary,genre_tags,genre_comb_tag,actors,directors,producers,workers
0,1,Toy Story,1995,tt0114709,"[Woody, is, a, pull-string, cowboy, doll, and,...","Animation, childrens, comedy","[animation, childrens, comedy]","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],[],"['Joel Cohen', 'Pete Docter', 'Andrew Stanton'..."
2,3,Four Rooms,1995,tt0113101,"[The, film, is, set, on, New, Year's, Eve,, an...",thriller,[thriller],"['Tim Roth', 'Antonio Banderas', 'Sammi Davis'...","['Allison Anders', 'Alexandre Rockwell', 'Robe...",['Lawrence Bender'],[]

In [26]:
# We will now join the first name and last name for actors, workers,directors and producers to create one single tag

In [27]:
literal_eval(df_movie["workers"][4])

['Christopher Young', 'Ann Biderman', 'David Madsen']

In [28]:
import re

def remove_special_characters(text):
    '''Function to clean up any given text by removing non alphanumeric characters with spaces'''
    # Define a pattern to keep only alphanumeric characters
    pattern = re.compile(r'[^a-zA-Z0-9\s]')

    # Use the pattern to replace non-alphanumeric characters with an empty string
    cleaned_text = re.sub(pattern, '', text)

    return cleaned_text

In [29]:
def remove_space(x):
    '''Function to remove space between words'''
    y=literal_eval(x)
    # print (y)
    s=[]
    for i in y:
        # print (i)
        s.append(i.replace(" ","").lower())
    return s

In [30]:
# This will remove space between first name and last name so that a person can be identified
df_movie["workers"]=df_movie["workers"].apply(remove_space)

In [31]:
# This will remove space between first name and last name so that a person can be identified
df_movie["actors"]=df_movie["actors"].apply(remove_space)

In [32]:
# This will remove space between first name and last name so that a person can be identified
df_movie["directors"]=df_movie["directors"].apply(remove_space)

In [33]:
# This will remove space between first name and last name so that a person can be identified
df_movie["producers"]=df_movie["producers"].apply(remove_space)

In [34]:
df_movie['cleaned_title'] = df_movie['title'].apply(lambda x:x.lower()).apply(remove_special_characters).str.replace(" ","")

In [35]:
df_movie.head(2)

,ml_id,title,release_year,imdb_id,plot_summary,genre_tags,genre_comb_tag,actors,directors,producers,workers,cleaned_title
0,1,Toy Story,1995,tt0114709,"[Woody, is, a, pull-string, cowboy, doll, and,...","Animation, childrens, comedy","[animation, childrens, comedy]","[tomhanks, timallen, donrickles, jimvarney]",[johnlasseter],[],"[joelcohen, petedocter, andrewstanton, joeranf...",toystory
2,3,Four Rooms,1995,tt0113101,"[The, film, is, set, on, New, Year's, Eve,, an...",thriller,[thriller],"[timroth, antoniobanderas, sammidavis, amandad...","[allisonanders, alexandrerockwell, robertrodri...",[lawrencebender],[],fourrooms

In [36]:
# create tags column by combining all columns on which search should be allowed
df_movie['tags'] = df_movie["plot_summary"]+df_movie["genre_comb_tag"]+df_movie["actors"]+df_movie["workers"]+df_movie["directors"]+df_movie["producers"]

In [37]:
df_movie.head(2)

,ml_id,title,release_year,imdb_id,plot_summary,genre_tags,genre_comb_tag,actors,directors,producers,workers,cleaned_title,tags
0,1,Toy Story,1995,tt0114709,"[Woody, is, a, pull-string, cowboy, doll, and,...","Animation, childrens, comedy","[animation, childrens, comedy]","[tomhanks, timallen, donrickles, jimvarney]",[johnlasseter],[],"[joelcohen, petedocter, andrewstanton, joeranf...",toystory,"[Woody, is, a, pull-string, cowboy, doll, and,..."
2,3,Four Rooms,1995,tt0113101,"[The, film, is, set, on, New, Year's, Eve,, an...",thriller,[thriller],"[timroth, antoniobanderas, sammidavis, amandad...","[allisonanders, alexandrerockwell, robertrodri...",[lawrencebender],[],fourrooms,"[The, film, is, set, on, New, Year's, Eve,, an..."

In [38]:
# Storing required columns in a new DF for NL processing
new_df_movie = df_movie[["ml_id","title","imdb_id","tags"]]

In [39]:
new_df_movie.iloc[0]

ml_id                                                      1
title                                             Toy Story
imdb_id                                            tt0114709
tags       [Woody, is, a, pull-string, cowboy, doll, and,...
Name: 0, dtype: object

## Natural Language Preprocessing
We will use some of the following techniques on the tag
- Tokenization
    - Breaking down text into smaller units, such as words or sentences (tokens).
    - Facilitates analysis by converting text into a format that can be processed more easily.
- Stopword Removal
    - Removing common words (e.g., "the," "is") that do not contribute much to the meaning of a text.
    - Reduces noise in the data and focuses on more meaningful words.
- Stemming and Lemmatization
    - Reducing words to their root or base form (e.g., "running" to "run").
    - Normalizes words to their base form, reducing variations

In [40]:
# reset index
new_df_movie.reset_index(drop=True,inplace=True)

In [41]:
# convert list back to string
new_df_movie['tags']= new_df_movie['tags'].apply(lambda x: " ".join(x))

In [42]:
# convert to lower case
new_df_movie['tags'] = new_df_movie['tags'].apply(lambda x: x.lower())

In [43]:
new_df_movie.iloc[0]

ml_id                                                      1
title                                             Toy Story
imdb_id                                            tt0114709
tags       woody is a pull-string cowboy doll and leader ...
Name: 0, dtype: object

### Create vectors using Bag of Words technique
- To find similar movies, the tags of various movies need to be compared to find similarities i.e calculate the similarity score.
- We will convert this tags text to  vectors and then calulate the distance between the two vectors using cosine distance.
- To recommend similar movies for a given movie, we will find the vector distances between the movie and other remaining movies and recommend closest top 5 movies.
- There are many techniques create word vectors like - Bag of words, ifidf, word2vec
- Here we will use "Bag of word" technique
    - concatenate all tags of all movies - to create a large text corpus.
    - drop all stop words
    - select most common 5000 (can be any arbitrary number) words in this large corpus
    - compare these 5000 most common words with each movie tag and count how many times each word appears in this movie tag and store the information
    - above step will be repeated for all the movies
    - this will create an array of 854 movies with 5000 most popular word in the text - shape of the array [854,5000]

    | movie| W1 | W2 | W3 | ... | W5000 |
    | -----| ---| ---| ---| --- | ------|
    | m1   | 4  | 0  | 9  | ... |  8    |
    | m2   | 3  | 8  | 9  | ... |  8    |
    | m3   | 5  | 0  | 12 | ... |  8    |
    | ...  | ...| ...| ...| ... |  ...  |
    | m854 | 6  | 0  | 12 | ... |  8    |

   - Each row is called text vector for the movie - movie converted to 5000 vector space

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [45]:
vectors = cv.fit_transform(new_df_movie['tags']).toarray()

In [46]:
vectors.shape

(854, 5000)

In [47]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [48]:
# Most popular words found in the large corpus are
list(cv.get_feature_names_out())

['000',
 '10',
 '100',
 '1000',
 '11',
 '12',
 '14',
 '15',
 '16',
 '17',
 '18',
 '1950s',
 '1960s',
 '1963',
 '1969',
 '1994',
 '20',
 '200',
 '20th',
 '22',
 '24',
 '25',
 '30',
 '40',
 '50',
 '500',
 '747',
 'aaron',
 'abandon',
 'abandoned',
 'abandons',
 'abbey',
 'abbott',
 'abby',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abortion',
 'abruptly',
 'absence',
 'abuse',
 'abused',
 'abusive',
 'academy',
 'accept',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accident',
 'accidentally',
 'accompanied',
 'accompanies',
 'accompany',
 'account',
 'accused',
 'accuses',
 'ace',
 'act',
 'acting',
 'action',
 'actions',
 'activates',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'ad',
 'adam',
 'adams',
 'addict',
 'addiction',
 'adding',
 'addison',
 'addition',
 'address',
 'addresses',
 'adele',
 'administration',
 'admiral',
 'admit',
 'admits',
 'adopt',
 'adopted',
 'adoption',
 'adult',
 'adults',
 'advance',
 'advanced',
 'advances',
 'advantage',
 'adventure',
 'adventures',
 'advice',
 'advises',
 'affair',
 'affairs',
 'affection',
 'afraid',
 'africa',
 'african',
 'africans',
 'afternoon',
 'afterward',
 'age',
 'aged',
 'agency',
 'agent',
 'agents',
 'aggressive',
 'aging',
 'agnes',
 'ago',
 'agosta',
 'agree',
 'agreed',
 'agreeing',
 'agrees',
 'ahead',
 'aid',
 'aids',
 'aim',
 'air',
 'aircraft',
 'airplane',
 'airport',
 'akira',
 'al',
 'alabama',
 'alan',
 'alansilvestri',
 'alarm',
 'alba',
 'albert',
 'albright',
 'alcohol',
 'alcoholic',
 'aldi',
 'alert',
 'alerted',
 'alerts',
 'alex',
 'alexander',
 'alexandre',
 'alfalfa',
 'alfred',
 'alfredo',
 'ali',
 'alias',
 'alice',
 'alien',
 'aliens',
 'alison',
 'alive',
 'alley',
 'allison',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'alpha',
 'altar',
 'alvy',
 'alyssa',
 'amanda',
 'ambassador',
 'ambition',
 'ambulance',
 'ambush',
 'ambushed',
 'amends',
 'america',
 'american',
 'americans',
 'amistad',
 'ammunition',
 'amnesia',
 'amos',
 'amour',
 'amusement',
 'amy',
 'ancient',
 'anderson',
 'andrea',
 'andrew',
 'andris',
 'andy',
 'angel',
 'angeles',
 'angelo',
 'angels',
 'anger',
 'angered',
 'angrily',
 'angry',
 'angus',
 'animal',
 'animals',
 'animation',
 'ankle',
 'ann',
 'anna',
 'annabel',
 'anne',
 'anney',
 'annie',
 'announce',
 'announces',
 'annoyed',
 'annual',
 'anonymous',
 'answer',
 'answers',
 'anthony',
 'anti',
 'antics',
 'antoine',
 'anton',
 'anxious',
 'anymore',
 'apart',
 'apartment',
 'apologize',
 'apologizes',
 'apparent',
 'apparently',
 'appear',
 'appearance',
 'appearing',
 'appears',
 'applause',
 'apple',
 'appointed',
 'appointment',
 'approach',
 'approached',
 'approaches',
 'approaching',
 'april',
 'apu',
 'arch',
 'archbishop',
 'archer',
 'archie',
 'area',
 'argue',
 'argues',
 'arguing',
 'argument',
 'ariel',
 'arizona',
 'arm',
 'armand',
 'armed',
 'arms',
 'armstrong',
 'army',
 'arnie',
 'arnold',
 'arnonmilchan',
 'arrange',
 'arranged',
 'arranges',
 'arrest',
 'arrested',
 'arrests',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'arrogant',
 'arrow',
 'art',
 'arthur',
 'article',
 'artificial',
 'artist',
 'arts',
 'ash',
 'ashamed',
 'ashe',
 'ashes',
 'ashley',
 'ashtray',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'asleep',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assault',
 'assaulted',
 'assigned',
 'assignment',
 'assigns',
 'assist',
 'assistance',
 'assistant',
 'associate',
 'associates',
 'assume',
 'assumed',
 'assumes',
 'assures',
 'astronauts',
 'asylum',
 'atf',
 'atlanta',
 'atmosphere',
 'attached',
 'attack',
 'attacked',
 'attacking',
 'attacks',
 'attempt',
 'attempted',
 'attempting',
 'attempts',
 'attend',
 'attendance',
 'attendant',
 'attended',
 'attending',
 'attends',
 'attention',
 'attic',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'attracts',
 'audience',
 'audition',
 'audrey',
 'aufschnaiter',
 'august',
 'auguste',
 'aunt',
 'aunts',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'auto',
 'autobot',
 'autobots',
 'avail',
 'available',
 'avoid',
 'avoids',
 'awaits',
 'awake',
 'awaken',
 'awakened',
 'awakens',
 'award',
 'awarded',
 'aware',
 'away',
 'awkward',
 'axe',
 'axel',
 'babitch',
 'baby',
 'background',
 'backs',
 'backstage',
 'backyard',
 'bad',
 'badly',
 'bag',
 'bags',
 'bailey',
 'baily',
 'bait',
 'balcony',
 'baldwin',
 'ball',
 'ballet',
 'balloon',
 'ballroom',
 'baltimore',
 'balto',
 'band',
 'bandits',
 'bank',
 'banks',
 'banky',
 'bar',
 'barbara',
 'barbarella',
 'barber',
 'barboni',
 'barely',
 'barnes',
 'baron',
 'barry',
 'bartlett',
 'base',
 'baseball',
 'based',
 'basement',
 'basketball',
 'bastian',
 'bat',
 'bathroom',
 'batman',
 'batou',
 'battle',
 'bay',
 'beach',
 'bear',
 'beat',
 'beaten',
 'beating',
 'beats',
 'beaumont',
 'beautiful',
 'beauty',
 'beavis',
 'becca',
 'beckert',
 'becky',
 'bed',
 'bedroom',
 'beethoven',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'begs',
 'begun',
 'behalf',
 'behavior',
 'belief',
 'believe',
 'believed',
 'believes',
 'believing',
 'bell',
 'bella',
 'belongs',
 'beloved',
 'belt',
 'ben',
 'beneath',
 'benjamin',
 'benjy',
 'bennell',
 'benny',
 'benson',
 'berates',
 'berlin',
 'bernard',
 'bernie',
 'bert',
 'berthe',
 'bess',
 'best',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'better',
 'betty',
 'beverly',
 'bid',
 'bids',
 'big',
 'bigger',
 'bilko',
 'billy',
 'biological',
 'bird',
 'birds',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bite',
 'bitten',
 'bitter',
 'bizarre',
 'black',
 'blackmail',
 'blackmails',
 'blacks',
 'blade',
 'blame',
 'blames',
 'blaming',
 'blanca',
 'blanche',
 'blank',
 'blast',
 'blayac',
 'bleeding',
 'blind',
 'block',
 'blocked',
 'blonde',
 'blondie',
 'blood',
 'bloody',
 'blow',
 'blowing',
 'blown',
 'blows',
 'blue',
 'blues',
 'blur',
 'board',
 'boarding',
 'boards',
 'boat',
 'boats',
 'bob',
 'bobby',
 'bodies',
 'body',
 'bodyguard',
 'boiler',
 'boland',
 'bolt',
 'bomb',
 'bond',
 'bone',
 'bones',
 'bonnie',
 'book',
 'bookman',
 'books',
 'boone',
 'booth',
 'border',
 'bored',
 'boris',
 'born',
 'boss',
 'boston',
 'bottle',
 'bought',
 'bound',
 'bounty',
 'bowden',
 'bowen',
 'bowl',
 'bowling',
 'bowman',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'brad',
 'braddock',
 'bragden',
 'brain',
 'branch',
 'brandi',
 'brawl',
 'break',
 'breakdown',
 'breakfast',
 'breaking',
 'breaks',
 'brian',
 'bribe',
 'bribes',
 'bride',
 'bridge',
 'brief',
 'briefly',
 'brien',
 'brigance',
 'bring',
 'bringing',
 'brings',
 'britain',
 'british',
 'broadcast',
 'brodie',
 'brody',
 'broke',
 'broken',
 'bronski',
 'brooklyn',
 'brothel',
 'brother',
 'brothers',
 'brought',
 'broulard',
 'brown',
 'browne',
 'bruce',
 'bruno',
 'brutal',
 'brutally',
 'bryn',
 'bubba',
 'buck',
 'buckley',
 'buddy',
 'buffalo',
 'bug',
 'bugs',
 'build',
 'building',
 'built',
 'buldeo',
 'bull',
 'bullet',
 'bullets',
 'bully',
 'bumbling',
 'bunny',
 'burglary',
 'burial',
 'buried',
 'burke',
 'burn',
 'burned',
 'burning',
 'burns',
 'burst',
 'bursts',
 'burton',
 'bury',
 'bus',
 'business',
 'businessman',
 'buster',
 'busy',
 'butch',
 'butler',
 'butt',
 'buttercup',
 'butterfield',
 'buy',
 'buys',
 'buzz',
 'byron',
 'cab',
 'cabin',
 'cabinet',
 'cable',
 'cadbury',
 'cadby',
 'cadets',
 'cadillac',
 'cady',
 'cage',
 'caine',
 'cairo',
 'cal',
 'caleb',
 'california',
 'callahan',
 'called',
 'calling',
 'calls',
 'calm',
 'calogero',
 'calvera',
 'came',
 'camera',
 'cameras',
 'camp',
 'campaign',
 'campbell',
 'candidate',
 'candy',
 'candyman',
 'canton',
 'canâ',
 'capa',
 'capable',
 'capital',
 'captain',
 'capture',
 'captured',
 'captures',
 'capturing',
 'car',
 'card',
 'care',
 'career',
 'cares',
 'cargo',
 'caring',
 'carl',
 'carla',
 'carlito',
 'carmen',
 'carol',
 'carole',
 'caroline',
 'carolyn',
 'carrie',
 'carried',
 'carrier',
 'carries',
 'carrington',
 'carry',
 'carrying',
 'cars',
 'carson',
 'cart',
 'carter',
 'carterburwell',
 'carver',
 'case',
 'casey',
 'cash',
 'casino',
 'caspar',
 'cast',
 'castle',
 'casts',
 'cat',
 'catch',
 'catches',
 'catching',
 'catherine',
 'catholic',
 'catlett',
 'cats',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cave',
 'celebrate',
 'celebrating',
 'celebration',
 'celine',
 'cell',
 'cellar',
 'cemetery',
 'center',
 'central',
 'century',
 'ceremony',
 'certain',
 'certificate',
 'chad',
 'chain',
 'chair',
 'challenge',
 'challenges',
 'chamber',
 'champion',
 'championship',
 'chance',
 'chandler',
 'change',
 'changed',
 'changes',
 'changing',
 'chaos',
 'character',
 'characters',
 'charge',
 'charged',
 'charges',
 'charity',
 'charles',
 'charlie',
 'charms',
 'chase',
 'chased',
 'chases',
 'chasing',
 'cheap',
 'cheating',
 'check',
 'checks',
 'cheer',
 'chef',
 'cher',
 'cheryl',
 'chess',
 'chest',
 'cheyenne',
 'chi',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'childrens',
 'chili',
 'chilton',
 'chimney',
 'china',
 'chinese',
 'chip',
 'choice',
 'choose',
 'chooses',
 'chopper',
 'chosen',
 'chris',
 'christian',
 'christie',
 'christine',
 'christmas',
 'christof',
 'chubbs',
 'church',
 'cia',
 'cigarette',
 'cigarettes',
 'cindy',
 'cinema',
 'cinquã',
 'circle',
 'circumstances',
 'circus',
 'cisely',
 'cite',
 'citizens',
 'city',
 'civil',
 'civilian',
 'claim',
 'claimed',
 'claiming',
 'claims',
 'claire',
 'clancy',
 'clara',
 'clarence',
 'clark',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'claude',
 'claudia',
 'claus',
 'clay',
 'cleaf',
 'clean',
 'cleaning',
 'clear',
 'clearly',
 'cleon',
 'clerk',
 'client',
 'clients',
 'cliff',
 'climax',
 'climb',
 'climbing',
 'climbs',
 'clinic',
 'clinton',
 'clock',
 'clone',
 'clones',
 'close',
 'closed',
 'closely',
 'closer',
 'closes',
 'closet',
 'closing',
 'clothes',
 'clothing',
 'cloud',
 'clouseau',
 'clown',
 'club',
 'clubhouse',
 'clue',
 'clues',
 'clyde',
 'coach',
 'coast',
 'coat',
 'cocaine',
 'cochise',
 'code',
 'coffee',
 'coffin',
 'coin',
 'cold',
 'coldly',
 'cole',
 'collapse',
 'collapses',
 'collar',
 'colleague',
 'colleagues',
 'collect',
 'collecting',
 'collection',
 'college',
 'collin',
 'collins',
 'colonel',
 'color',
 'com',
 'combat',
 'come',
 'comedy',
 'comes',
 'comfort',
 'comfortable',
 'comforts',
 'comic',
 'coming',
 'command',
 'commanded',
 'commander',
 'commands',
 'comments',
 'commission',
 'commit',
 'commits',
 'committed',
 'committing',
 'common',
 'communicate',
 'communication',
 'communist',
 'community',
 'companies',
 'companion',
 'companions',
 'company',
 'competing',
 'competition',
 'complete',
 'completed',
 'completely',
 'complex',
 'complicated',
 'composer',
 'composition',
 'compound',
 'computer',
 'conan',
 'concern',
 'concerned',
 'concerns',
 'concert',
 'concludes',
 'concluding',
 'conclusion',
 'condition',
 'conduct',
 'confederate',
 'conference',
 'confess',
 'confesses',
 'confession',
 'confidence',
 'confides',
 'confirm',
 'confirms',
 'conflict',
 'confront',
 'confrontation',
 'confronted',
 'confronts',
 'confused',
 'confusion',
 'conklin',
 'connection',
 'connie',
 'connor',
 'conscience',
 'consciousness',
 'consequences',
 'conservative',
 'consider',
 'considered',
 'considers',
 'consisting',
 'conspiracy',
 ...]

### Stemming

In [49]:
'''
In this output we see there are many numbers, there are duplicates like
 'adopt',
 'adopted',
 'adoption',
 'adult',
 'adults',
so we will need to go back to root word in the tags so that different forms of same words are not selected.
This is called stemming
'''

"\nIn this output we see there are many numbers, there are duplicates like\n 'adopt',\n 'adopted',\n 'adoption',\n 'adult',\n 'adults',\nso we will need to go back to root word in the tags so that different forms of same words are not selected.\nThis is called stemming\n"

In [50]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [51]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return  " ".join(y) # covert back to string

In [52]:
stem(new_df_movie.loc[0]['tags'])

"woodi is a pull-str cowboy doll and leader of a group of toy that belong to a boy name andi davis, which act lifeless when human are present. with hi famili move home one week befor hi birthday, the toy stage a reconnaiss mission to discov andy' new presents. andi receiv a space ranger buzz lightyear action figure, whose impress featur see him replac woodi as andy' favorit toy. woodi is resentful, especi as buzz also get attent from the other toys. howev buzz believ himself to be a real space ranger on a mission to return to hi home planet, as woodi fail to convinc him he is a toy. andi prepar for a famili outing at the space theme pizza planet restaur with buzz. woodi attempt to be pick by misplac buzz. he intend to trap buzz in a gap behind andy' desk, but the plan goe disastr wrong when he accident knock buzz out the window, result in him be accus of murder buzz out of jealousy. with buzz missing, andi take woodi to pizza planet, but buzz climb into the car and confront woodi when they stop at a ga station. the two fight and fall out of the car, which drive off and leav them behind. woodi spot a truck bound for pizza planet and plan to rendezv with andi there, convinc buzz to come with him by tell him it will take him to hi home planet. onc at pizza planet, buzz make hi way into a claw game machin shape like a spaceship, think it to be the ship woodi promis him. inside, he find squeaki alien who rever the claw arm as their master. when woodi clamber into the machin to rescu buzz, the alien forc the two toward the claw and they are captur by andyâ\x80\x99 neighbour sid phillips, who find amus in destroy toys. at sid' house, the two attempt to escap befor andy' move day, encount sidâ\x80\x99 nightmarish toy creation and hi viciou dog, scud. buzz see a commerci for buzz lightyear action figur and realiz that he realli is a toy. attempt to fli to test this, buzz fall and lose one of hi arms, go into depress and unabl to cooper with woody. woodi wave buzzâ\x80\x99 arm from a window to seek help from the toy in andyâ\x80\x99 room, but they are horrifi think woodi attack him, while woodi realiz sid' toy are friendli when they reconnect buzz' arm. sid prepar to destroy buzz by strap him to a rocket, but is delay that even by a thunderstorm. woodi convinc buzz that life is worth live becaus of the joy he can bring to andy, which help buzz regain hi spirit. cooper with sid' toys, woodi rescu buzz and scare sid away by come to life in front of him, warn him to never tortur toy again. woodi and buzz then wave goodby to the mutant toy and return home through a fence, but miss andyâ\x80\x99 car as it drive away to hi new house. down the road, they climb onto the move truck contain andyâ\x80\x99 other toys, but scud chase them and buzz tackl the dog to save woody. woodi attempt to rescu buzz with andy' rc car but the other toys, who think woodi now got rid of rc, toss woodi off onto the road. spot woodi drive rc back with buzz alive, the other toy realiz their mistak and tri to help. when rc' batteri becom depleted, woodi ignit the rocket on buzz' back and manag to throw rc into the move truck befor they soar into the air. buzz open hi wing to cut himself free befor the rocket explodes, glide with woodi to land safe into a box in andyâ\x80\x99 car. andi look into it and is elat to have found hi two miss toys. on christma day at their new house, buzz and woodi stage anoth reconnaiss mission to prepar for the new toy arrivals, one of which is a mrs. potato head, much to the delight of mr. potato head. as woodi jokingli ask what might be wors than buzz, the two share a worri smile as they discov andy' new gift is a puppy. anim children comedi tomhank timallen donrickl jimvarney joelcohen petedoct andrewstanton joeranft josswhedon johnlasset"

In [53]:
new_df_movie['tags'] = new_df_movie['tags'].apply(stem)

In [54]:
# Recalculate vectors
vectors = cv.fit_transform(new_df_movie['tags']).toarray()

In [55]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [6, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [56]:
vectors.shape

(854, 5000)

In [57]:
# most popular words found in the large corpus are
list(cv.get_feature_names_out())

['000',
 '10',
 '100',
 '1000',
 '11',
 '12',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '1950',
 '1960',
 '1963',
 '1969',
 '1970',
 '1980',
 '1984',
 '1988',
 '1994',
 '20',
 '200',
 '20th',
 '21',
 '22',
 '24',
 '25',
 '30',
 '40',
 '400',
 '50',
 '500',
 '60',
 '747',
 'aaron',
 'abandon',
 'abbey',
 'abbi',
 'abbott',
 'abduct',
 'abe',
 'abil',
 'abl',
 'aboard',
 'abort',
 'abortion',
 'abov',
 'abra',
 'abruptli',
 'absenc',
 'absence',
 'abus',
 'abuse',
 'academ',
 'academi',
 'accept',
 'accepts',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplic',
 'accomplish',
 'accord',
 'account',
 'accus',
 'ace',
 'achiev',
 'acid',
 'ackerman',
 'acknowledg',
 'acquaint',
 'acquir',
 'acquit',
 'act',
 'action',
 'actions',
 'activ',
 'activist',
 'activities',
 'actor',
 'actors',
 'actress',
 'actual',
 'ad',
 'adam',
 'adams',
 'adapt',
 'add',
 'addict',
 'addison',
 'addit',
 'address',
 'adjust',
 'administ',
 'administr',
 'admir',
 'admit',
 'adopt',
 'adrian',
 'adult',
 'advanc',
 'advances',
 'advantag',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'advice',
 'advis',
 'affair',
 'affect',
 'affection',
 'afford',
 'afraid',
 'africa',
 'african',
 'africans',
 'aftermath',
 'afternoon',
 'afterward',
 'ag',
 'age',
 'agenc',
 'agent',
 'agents',
 'aggress',
 'agit',
 'agn',
 'ago',
 'agosta',
 'agre',
 'agrees',
 'ahead',
 'aid',
 'aim',
 'air',
 'aircraft',
 'airplan',
 'airport',
 'aj',
 'akira',
 'al',
 'alabama',
 'alain',
 'alan',
 'alansilvestri',
 'alarm',
 'alba',
 'albert',
 'albright',
 'alcohol',
 'aldi',
 'alert',
 'alex',
 'alexand',
 'alexandr',
 'alfalfa',
 'alfr',
 'alfred',
 'alfredo',
 'ali',
 'alia',
 'alic',
 'alice',
 'alien',
 'aliens',
 'alison',
 'aliv',
 'alive',
 'alleg',
 'alley',
 'alli',
 'allison',
 'allow',
 'alon',
 'alpha',
 'alreadi',
 'altar',
 'alter',
 'altern',
 'alvi',
 'alway',
 'alyssa',
 'amanda',
 'amateur',
 'amaz',
 'ambassador',
 'ambit',
 'ambulance',
 'ambush',
 'amend',
 'america',
 'american',
 'ami',
 'amistad',
 'ammunition',
 'amnesia',
 'amo',
 'amour',
 'amus',
 'anaconda',
 'analyz',
 'ancient',
 'anderson',
 'andi',
 'andrea',
 'andrew',
 'andrã',
 'andy',
 'angel',
 'angeles',
 'angelo',
 'anger',
 'angri',
 'angrili',
 'angry',
 'angu',
 'ani',
 'anim',
 'animal',
 'animals',
 'ann',
 'anna',
 'annabel',
 'anne',
 'anney',
 'anni',
 'annie',
 'announc',
 'annoy',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'answers',
 'anthoni',
 'anthony',
 'anthonyhopkin',
 'anti',
 'antic',
 'anticip',
 'antoin',
 'antoine',
 'anton',
 'anxiou',
 'anya',
 'anymore',
 'anyon',
 'anyth',
 'apach',
 'apart',
 'apartment',
 'apolog',
 'appar',
 'appeal',
 'appear',
 'appears',
 'appli',
 'appoint',
 'appreci',
 'approach',
 'approaches',
 'approv',
 'april',
 'apu',
 'arch',
 'archbishop',
 'archer',
 'archi',
 'archie',
 'area',
 'argu',
 'argument',
 'ariel',
 'aris',
 'arizona',
 'arm',
 'armand',
 'armi',
 'armor',
 'arms',
 'armstrong',
 'army',
 'arni',
 'arnold',
 'arnonmilchan',
 'arrang',
 'arrest',
 'arrested',
 'arriv',
 'arrive',
 'arrives',
 'arrog',
 'arrow',
 'art',
 'arthur',
 'articl',
 'artifici',
 'artist',
 'ash',
 'ashley',
 'ashtray',
 'asid',
 'ask',
 'asleep',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assert',
 'assign',
 'assist',
 'assistant',
 'associ',
 'associates',
 'assum',
 'assur',
 'astronaut',
 'asylum',
 'atf',
 'athlet',
 'atlanta',
 'atom',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audience',
 'audit',
 'audition',
 'audrey',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'auto',
 'autobot',
 'avail',
 'aveng',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'axe',
 'axel',
 'babi',
 'babitch',
 'baby',
 'background',
 'backyard',
 'bad',
 'badli',
 'bag',
 'bail',
 'bailey',
 'bait',
 'balanc',
 'balconi',
 'baldwin',
 'ball',
 'ballet',
 'balloon',
 'ballroom',
 'baltimor',
 'balto',
 'band',
 'bandit',
 'bandits',
 'bank',
 'banker',
 'banki',
 'banks',
 'bar',
 'barbara',
 'barbarella',
 'barbarian',
 'barber',
 'barboni',
 'bare',
 'barn',
 'barnes',
 'baron',
 'barri',
 'barry',
 'bartlett',
 'bas',
 'base',
 'basebal',
 'basement',
 'basilpoledouri',
 'basketbal',
 'bastard',
 'bastian',
 'bat',
 'bath',
 'bathroom',
 'batman',
 'batou',
 'battl',
 'battle',
 'bay',
 'beach',
 'bear',
 'beard',
 'beast',
 'beat',
 'beaten',
 'beaumont',
 'beauti',
 'beavi',
 'becam',
 'becaus',
 'becca',
 'beckert',
 'becki',
 'becom',
 'bed',
 'bedroom',
 'beethoven',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'begun',
 'behalf',
 'behav',
 'behavior',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'bellegard',
 'belong',
 'belov',
 'belt',
 'ben',
 'beneath',
 'benefit',
 'benjamin',
 'benji',
 'benni',
 'benny',
 'benson',
 'berat',
 'berlin',
 'bernard',
 'berni',
 'bernie',
 'bert',
 'berth',
 'besid',
 'bess',
 'best',
 'bet',
 'beth',
 'betray',
 'better',
 'betti',
 'beverli',
 'beverly',
 'bid',
 'big',
 'bigger',
 'bilko',
 'billi',
 'billy',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bite',
 'bitten',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blade',
 'blake',
 'blame',
 'blanca',
 'blanch',
 'blank',
 'blast',
 'blayac',
 'bleed',
 'bless',
 'blind',
 'block',
 'blond',
 'blondi',
 'blood',
 'bloodi',
 'blossom',
 'blow',
 'blown',
 'blue',
 'blur',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bobby',
 'bodi',
 'bodies',
 'body',
 'bodyguard',
 'boil',
 'boiler',
 'boland',
 'bolt',
 'bomb',
 'bombay',
 'bond',
 'bone',
 'boneâ',
 'bonni',
 'bonnie',
 'book',
 'bookman',
 'books',
 'boost',
 'boot',
 'booth',
 'border',
 'bore',
 'bori',
 'born',
 'borrow',
 'boss',
 'boston',
 'botch',
 'bother',
 'bottl',
 'bought',
 'bound',
 'bounti',
 'bow',
 'bowden',
 'bowen',
 'bowl',
 'bowman',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'brad',
 'braddock',
 'bragden',
 'brain',
 'branch',
 'brand',
 'brandi',
 'brandon',
 'brawl',
 'break',
 'breakdown',
 'breakfast',
 'breath',
 'breed',
 'brennan',
 'brewster',
 'brian',
 'bribe',
 'brick',
 'bride',
 'bridg',
 'bridge',
 'bridget',
 'brief',
 'briefli',
 'brien',
 'briganc',
 'bring',
 'britain',
 'british',
 'broadcast',
 'brodi',
 'broke',
 'broken',
 'bronski',
 'bronx',
 'brook',
 'brooklyn',
 'brothel',
 'brother',
 'brothers',
 'brought',
 'broulard',
 'brown',
 'bruce',
 'bruno',
 'brushi',
 'brutal',
 'bryn',
 'bu',
 'bubba',
 'buck',
 'buckley',
 'bud',
 'buddi',
 'buddy',
 'buffalo',
 'bug',
 'build',
 'building',
 'built',
 'buldeo',
 'bull',
 'bulldog',
 'bullet',
 'bulli',
 'bullock',
 'bumbl',
 'bump',
 'bunni',
 'bunny',
 'buri',
 'burial',
 'burk',
 'burn',
 'burst',
 'burton',
 'bus',
 'busi',
 'business',
 'businessman',
 'buster',
 'butch',
 'butcher',
 'butler',
 'butt',
 'buttercup',
 'butterfield',
 'buy',
 'buzz',
 'byron',
 'bã',
 'cab',
 'cabin',
 'cabinet',
 'cabl',
 'cadburi',
 'cadi',
 'cadillac',
 'cafã',
 'cage',
 'cain',
 'cairo',
 'cake',
 'cal',
 'caleb',
 'california',
 'callahan',
 'calloway',
 'calls',
 'calm',
 'calogero',
 'calvera',
 'calvin',
 'cambodian',
 'came',
 'camelot',
 'camera',
 'camp',
 'campaign',
 'campbel',
 'canadian',
 'cancel',
 'cancer',
 'candi',
 'candyman',
 'cannon',
 'canton',
 'canyon',
 'canâ',
 'capa',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'captured',
 'capulet',
 'car',
 'card',
 'care',
 'career',
 'cargo',
 'carl',
 'carla',
 'carlito',
 'carlo',
 'carmen',
 'carol',
 'carolin',
 'caroline',
 'carolyn',
 'carri',
 'carrie',
 'carrier',
 'carrington',
 'cars',
 'carson',
 'cart',
 'carter',
 'carterburwel',
 'carver',
 'carygr',
 'case',
 'casey',
 'cash',
 'casino',
 'caspar',
 'cassett',
 'cast',
 'castl',
 'castle',
 'casual',
 'cat',
 'catch',
 'catherin',
 'catherine',
 'catlett',
 'cattl',
 'catwoman',
 'caught',
 'caus',
 'caution',
 'cave',
 'ceiling',
 'celebr',
 'celebration',
 'celin',
 'cell',
 'cellar',
 'cemeteri',
 'cemetery',
 'center',
 'central',
 'centuri',
 'century',
 'ceremoni',
 'ceremony',
 'certain',
 'certif',
 'chad',
 'chagrin',
 'chain',
 'chair',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chandler',
 'chang',
 'change',
 'changed',
 'changes',
 'channel',
 'chao',
 'chapel',
 'charact',
 'character',
 'characters',
 'charg',
 'charges',
 'chariti',
 'charl',
 'charles',
 'charli',
 'charlie',
 'charm',
 'chase',
 'cheap',
 'cheat',
 'check',
 'cheer',
 'chef',
 'cher',
 'cheryl',
 'chess',
 'chest',
 'cheyenn',
 'chi',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chili',
 'chilton',
 'chimney',
 'china',
 'chines',
 'chip',
 'chocol',
 'choic',
 'choice',
 'choir',
 'choke',
 'choos',
 'chopper',
 'chosen',
 'chri',
 'chris',
 'christi',
 'christian',
 'christma',
 'christof',
 'chu',
 'church',
 'cia',
 'cigarett',
 'cindi',
 'cinema',
 'cinquã',
 'circl',
 'circu',
 'circumst',
 'cit',
 'cite',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'claim',
 'clair',
 'clanci',
 'clara',
 'clarenc',
 'clarence',
 'clark',
 'clash',
 'class',
 'classic',
 'classmat',
 'claud',
 'claudia',
 'claus',
 'clay',
 'cleaf',
 'clean',
 'clear',
 'clearli',
 'cleo',
 'cleon',
 'clerk',
 'client',
 'cliff',
 'climax',
 'climb',
 'clinic',
 'clinton',
 'clock',
 'clone',
 'close',
 'closer',
 'closet',
 'cloth',
 'clothes',
 'cloud',
 'clouseau',
 'clown',
 'club',
 'clubhous',
 'clue',
 'clyde',
 'coach',
 'coast',
 'coat',
 'cocain',
 'cocaine',
 'cochis',
 'cocktail',
 'code',
 'coffe',
 'coffin',
 'coin',
 'cold',
 'coldli',
 'cole',
 'collaps',
 'collar',
 'colleagu',
 'collect',
 'colleg',
 'college',
 'collid',
 'collin',
 'colonel',
 'color',
 'com',
 'combat',
 'combin',
 'come',
 'comedi',
 'comfort',
 'comic',
 'command',
 'commander',
 'comment',
 'commerci',
 'commiss',
 'commission',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'companions',
 'company',
 'compar',
 'compel',
 'compet',
 'competit',
 'competition',
 'complain',
 'complet',
 'complex',
 'complic',
 'complies',
 'compos',
 'composit',
 'compound',
 'compuls',
 'comput',
 'computer',
 'conan',
 'conceal',
 'conceiv',
 'concentr',
 'concern',
 'concert',
 'conclud',
 'conclus',
 'condemn',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confer',
 'confess',
 'confession',
 'confid',
 'confidence',
 'confin',
 'confirm',
 'conflict',
 'confront',
 'confus',
 'confusion',
 'congratul',
 'congressman',
 'conklin',
 'connect',
 'connection',
 'conni',
 'connie',
 'connor',
 'conscious',
 'consciousness',
 'consequ',
 'conserv',
 'consid',
 'consider',
 'consist',
 'consol',
 'conspir',
 'conspiraci',
 'constant',
 'constantli',
 ...]

In [58]:
# Now the words dont repeat so much. We will calculate the cosine distance between two vectors.

## Calculate Cosine Distance

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
# calculate distance of each movie with respect to other movies [845x854]
similarity = cosine_similarity(vectors)

In [61]:
similarity.shape

(854, 854)

In [62]:
similarity[5]
# this matrix has diagonal values as 1

array([0.04016313, 0.05832236, 0.04378524, 0.04298136, 0.04592829,
       1.        , 0.05835849, 0.06952796, 0.03387509, 0.08778869,
       0.03860067, 0.08153423, 0.04140074, 0.09071644, 0.06492642,
       0.03365156, 0.05358538, 0.02715946, 0.03378581, 0.05931487,
       0.05955169, 0.36808662, 0.06238368, 0.06265743, 0.03878099,
       0.03919902, 0.03208816, 0.04541511, 0.02020074, 0.05954512,
       0.04373714, 0.03334069, 0.05094014, 0.03865988, 0.05798641,
       0.08544454, 0.04240536, 0.03369329, 0.05689737, 0.02792694,
       0.05932811, 0.0877167 , 0.0379023 , 0.0510169 , 0.05974137,
       0.03335178, 0.07899429, 0.02000764, 0.07012434, 0.03240165,
       0.05253839, 0.03461793, 0.07422857, 0.04849002, 0.03755383,
       0.04352769, 0.03608415, 0.06532306, 0.04929845, 0.05515665,
       0.04672033, 0.03355161, 0.03794763, 0.03174932, 0.03183965,
       0.05053956, 0.03886897, 0.05208494, 0.0091158 , 0.03597341,
       0.0454581 , 0.06262696, 0.04844908, 0.06660486, 0.03889095,
       0.03024151, 0.04277028, 0.04672481, 0.05951339, 0.06709535,
       0.04341514, 0.0603836 , 0.03601829, 0.03857003, 0.04531558,
       0.04897034, 0.0600636 , 0.06651075, 0.03740279, 0.0533781 ,
       0.04014673, 0.04526313, 0.09576092, 0.01836843, 0.05104325,
       0.0563644 , 0.06226017, 0.05185037, 0.04058307, 0.0603168 ,
       0.06477558, 0.02163348, 0.05079656, 0.03684689, 0.04117337,
       0.04315932, 0.03235658, 0.04994222, 0.06381691, 0.03944887,
       0.06750185, 0.04021518, 0.0436648 , 0.01773708, 0.06444019,
       0.06954061, 0.04264009, 0.05921551, 0.0539124 , 0.04315839,
       0.03262631, 0.11968426, 0.02934166, 0.03492019, 0.07036327,
       0.02436465, 0.03022267, 0.0628882 , 0.04620983, 0.05339402,
       0.02901547, 0.03179984, 0.03076824, 0.0772635 , 0.02893797,
       0.0509794 , 0.0659667 , 0.03167192, 0.02117269, 0.06738207,
       0.05646441, 0.03442979, 0.        , 0.02677451, 0.01880156,
       0.02192018, 0.06257109, 0.06802236, 0.07866128, 0.06985028,
       0.05150591, 0.0577038 , 0.10792383, 0.04602124, 0.04681705,
       0.04100572, 0.05487917, 0.02767688, 0.04292973, 0.05396488,
       0.25855443, 0.04456615, 0.02734741, 0.06655642, 0.02548828,
       0.04898489, 0.02649157, 0.06911431, 0.03865751, 0.03461274,
       0.08219182, 0.05966145, 0.02832961, 0.05223072, 0.03680637,
       0.06214479, 0.04348004, 0.05520441, 0.04686975, 0.04433981,
       0.06302741, 0.04469997, 0.0395344 , 0.02600556, 0.06442526,
       0.02565415, 0.02002574, 0.08576423, 0.1380159 , 0.0590431 ,
       0.1099233 , 0.03796408, 0.03318845, 0.02205126, 0.02327392,
       0.03374382, 0.07217546, 0.02971362, 0.03370037, 0.06390006,
       0.05282115, 0.04275691, 0.05080278, 0.10831704, 0.08475152,
       0.03921858, 0.02895909, 0.04706494, 0.09710818, 0.06249087,
       0.03645195, 0.03621016, 0.12423966, 0.05685345, 0.04435572,
       0.03690067, 0.03804924, 0.05007177, 0.06182531, 0.05717944,
       0.0718029 , 0.03127025, 0.03767887, 0.05393513, 0.0525976 ,
       0.04072532, 0.04506974, 0.04535055, 0.08913373, 0.0259146 ,
       0.06987819, 0.0564197 , 0.04597362, 0.0515998 , 0.04169858,
       0.02457594, 0.05643332, 0.06171826, 0.06520368, 0.05990293,
       0.10003106, 0.04677553, 0.03933721, 0.0378314 , 0.05628051,
       0.03784593, 0.04456251, 0.06417631, 0.0430691 , 0.05064301,
       0.04794238, 0.058778  , 0.04023564, 0.01978326, 0.04623978,
       0.030014  , 0.04025586, 0.0415866 , 0.04089535, 0.04311991,
       0.05900183, 0.03525948, 0.05900183, 0.0786105 , 0.07442142,
       0.05535368, 0.04000168, 0.02115918, 0.08033598, 0.0295207 ,
       0.0658002 , 0.03342359, 0.0976916 , 0.07898354, 0.05096962,
       0.06208533, 0.07223111, 0.03602502, 0.06693854, 0.02734741,
       0.04258377, 0.05041466, 0.0441337 , 0.06431471, 0.08814171,
       0.05317667, 0.05348937, 0.0328675 , 0.0434565 , 0.08152141,
       0.06214479, 0.04463661, 0.02622365, 0.04843447, 0.05915164,
       0.04793703, 0.04144697, 0.06432263, 0.04448677, 0.02322023,
       0.07050485, 0.04727765, 0.0566528 , 0.04336251, 0.04618107,
       0.05195225, 0.05216294, 0.02798271, 0.034483  , 0.0796261 ,
       0.0419266 , 0.04954162, 0.05943173, 0.02899915, 0.03820331,
       0.04876562, 0.01649384, 0.0270972 , 0.04763856, 0.04061907,
       0.04567349, 0.05989919, 0.06927821, 0.04820667, 0.06236188,
       0.03990645, 0.06276931, 0.03911959, 0.03368223, 0.07191476,
       0.07878061, 0.06170144, 0.04160357, 0.05388449, 0.02859151,
       0.07682899, 0.03714339, 0.01037007, 0.07421191, 0.05195793,
       0.04305592, 0.10697588, 0.06364011, 0.04841126, 0.0342818 ,
       0.03612698, 0.03529596, 0.04775437, 0.03479508, 0.02993583,
       0.04088828, 0.05655287, 0.01234286, 0.04204117, 0.0983439 ,
       0.0428521 , 0.03909217, 0.01643282, 0.05273008, 0.04046996,
       0.07034619, 0.04437095, 0.06277683, 0.03788587, 0.06792376,
       0.07391151, 0.0439606 , 0.03813716, 0.03573074, 0.03064506,
       0.03896533, 0.02563813, 0.04309492, 0.04531083, 0.02303881,
       0.05753895, 0.04997705, 0.03988307, 0.04516718, 0.01761934,
       0.05745947, 0.05815206, 0.04985446, 0.03701033, 0.04473956,
       0.03135507, 0.01331448, 0.02930463, 0.04652235, 0.11448559,
       0.03421119, 0.0316909 , 0.05670631, 0.06843435, 0.05274212,
       0.03890208, 0.02525028, 0.05946759, 0.03845433, 0.07210614,
       0.03863926, 0.06207217, 0.04691546, 0.0616687 , 0.03732129,
       0.02415866, 0.05134634, 0.05082924, 0.05582751, 0.03847327,
       0.0345528 , 0.04095369, 0.06221283, 0.03683267, 0.04693568,
       0.05688038, 0.05790743, 0.03732129, 0.01488605, 0.04676171,
       0.06278727, 0.07937969, 0.07985787, 0.03505603, 0.10377614,
       0.06353564, 0.10195893, 0.00551989, 0.04656922, 0.04479085,
       0.06369457, 0.07121975, 0.02679687, 0.03490157, 0.05164018,
       0.02065355, 0.05023313, 0.06552591, 0.13061378, 0.05093917,
       0.01274765, 0.05766874, 0.02982748, 0.04818354, 0.05963473,
       0.04789958, 0.03075365, 0.03111401, 0.03071747, 0.03912481,
       0.02783607, 0.05151477, 0.03879184, 0.04679276, 0.02917254,
       0.03160682, 0.0501047 , 0.02178652, 0.058662  , 0.02197134,
       0.        , 0.04213811, 0.04417229, 0.02420634, 0.07144718,
       0.02975268, 0.07298535, 0.03602461, 0.05955533, 0.02477509,
       0.02306136, 0.04570211, 0.06315615, 0.05813997, 0.05372962,
       0.02945296, 0.04206428, 0.0741671 , 0.06364011, 0.097626  ,
       0.07656249, 0.02774932, 0.0388434 , 0.03550768, 0.05236631,
       0.04107301, 0.05179554, 0.03832798, 0.05688489, 0.11376161,
       0.03989253, 0.00822857, 0.03455904, 0.025871  , 0.02734741,
       0.10966917, 0.04942867, 0.04763856, 0.0386315 , 0.05177054,
       0.07635561, 0.05236631, 0.06846179, 0.05566476, 0.03566173,
       0.08420819, 0.02199825, 0.04245311, 0.09937451, 0.04825443,
       0.03224187, 0.04392855, 0.04563019, 0.02359435, 0.04950051,
       0.03122523, 0.06721459, 0.03656191, 0.08719381, 0.03311936,
       0.03414656, 0.04439212, 0.07608648, 0.08000822, 0.03715025,
       0.04554868, 0.04581424, 0.05166833, 0.06121254, 0.05336385,
       0.04584022, 0.05820852, 0.06922263, 0.03667044, 0.01949041,
       0.03863354, 0.04337879, 0.02660211, 0.07458232, 0.06525262,
       0.03493676, 0.03586883, 0.04661639, 0.03817524, 0.02567512,
       0.05459565, 0.04851043, 0.0292513 , 0.04788344, 0.05273353,
       0.08235724, 0.04414099, 0.07494471, 0.03908572, 0.0143411 ,
       0.04424955, 0.0197926 , 0.05359863, 0.04407594, 0.03541283,
       0.04572759, 0.01770304, 0.06722636, 0.05430133, 0.05226026,
       0.06386872, 0.05466572, 0.03602201, 0.08442165, 0.0131603 ,
       0.05657092, 0.04742187, 0.0497179 , 0.05386564, 0.        ,
       0.05415457, 0.05984837, 0.04937143, 0.10877337, 0.03261124,
       0.02766358, 0.04257254, 0.06913281, 0.04467695, 0.01616059,
       0.03885487, 0.02168171, 0.12336146, 0.04204226, 0.0505875 ,
       0.03694738, 0.06713097, 0.04882747, 0.01814022, 0.0532398 ,
       0.02306012, 0.08053113, 0.06480999, 0.07721319, 0.06770067,
       0.04782853, 0.06996757, 0.02775337, 0.01103979, 0.01951577,
       0.04240012, 0.07344777, 0.05823756, 0.        , 0.04507747,
       0.04198207, 0.04971693, 0.03479273, 0.04436336, 0.02065355,
       0.05128214, 0.02388632, 0.03229272, 0.04251245, 0.02137846,
       0.00755843, 0.06582857, 0.09486907, 0.03380231, 0.0504333 ,
       0.04255315, 0.04530633, 0.0628961 , 0.02789813, 0.06248299,
       0.07779344, 0.02765353, 0.01234286, 0.1225974 , 0.02565415,
       0.10877337, 0.02191782, 0.05904389, 0.07405714, 0.01761934,
       0.02418696, 0.04664991, 0.07542403, 0.01846925, 0.07078649,
       0.06932439, 0.02655844, 0.0179615 , 0.03667202, 0.08544454,
       0.        , 0.05587349, 0.08850646, 0.04798545, 0.087993  ,
       0.09299204, 0.03723743, 0.03195802, 0.03876181, 0.03926022,
       0.01601821, 0.01491117, 0.02381928, 0.04296042, 0.0632446 ,
       0.04886504, 0.0371234 , 0.01891249, 0.06487934, 0.0295265 ,
       0.05163743, 0.05007177, 0.04022232, 0.05477268, 0.03613619,
       0.05187502, 0.03791667, 0.03291429, 0.0106523 , 0.06220215,
       0.05322174, 0.05914296, 0.04733522, 0.04742951, 0.06602773,
       0.07035117, 0.06071912, 0.01822609, 0.06756254, 0.06175998,
       0.05847123, 0.13197334, 0.04057561, 0.07292643, 0.0311353 ,
       0.03380231, 0.01183023, 0.0906312 , 0.03222924, 0.05839861,
       0.06250246, 0.04784927, 0.04112656, 0.00987429, 0.03423293,
       0.04583327, 0.06001894, 0.02137846, 0.03794062, 0.0302337 ,
       0.04004552, 0.04494817, 0.06454835, 0.01535874, 0.04329702,
       0.06998381, 0.08733735, 0.04948516, 0.0311532 , 0.06553986,
       0.04412914, 0.03634331, 0.12747648, 0.03732129, 0.04525714,
       0.02993583, 0.25664625, 0.06168257, 0.07054191, 0.04761867,
       0.08425928, 0.03728843, 0.032542  , 0.08576917, 0.03195802,
       0.02277559, 0.04674552, 0.03946792, 0.0496235 , 0.05844928,
       0.03403577, 0.11146716, 0.00702919, 0.03637022, 0.0318273 ,
       0.05368494, 0.04787793, 0.03459205, 0.07292643, 0.11215809,
       0.03702857, 0.05132925, 0.01845033, 0.03504805, 0.05200527,
       0.03410822, 0.07369596, 0.06475669, 0.06695678, 0.05649285,
       0.029331  , 0.03386023, 0.02418696, 0.05225845, 0.05613063,
       0.05943622, 0.10360937, 0.08944189, 0.02305298, 0.05911232,
       0.03824295, 0.06154965, 0.06802583, 0.02759947, 0.04259087,
       0.03566173, 0.03085714, 0.0873075 , 0.04359761, 0.02676449,
       0.03388887, 0.03541672, 0.0374123 , 0.04454117, 0.01912147,
       0.08062321, 0.01344643, 0.02468571, 0.04364778, 0.042367  ,
       0.03497143, 0.05511395, 0.08760133, 0.01729602, 0.03190532,
       0.05441789, 0.05061703, 0.06413537, 0.05737806, 0.05326152,
       0.02738634, 0.09931673, 0.04016008, 0.0342818 , 0.06478651,
       0.06646832, 0.04417944, 0.04754102, 0.05782891, 0.04072879,
       0.04537681, 0.01591003, 0.04178871, 0.05675414, 0.06034337,
       0.04640914, 0.07461868, 0.02381928, 0.0958522 , 0.04535055,
       0.04819575, 0.02573353, 0.09695944, 0.03384762, 0.        ,
       0.04482827, 0.05320422, 0.0337219 , 0.03339886, 0.03354128,
       0.04114286, 0.04503886, 0.03186912, 0.02378541, 0.04107951,
       0.06427501, 0.02783607, 0.05847123, 0.03176228, 0.07039771,
       0.04201648, 0.05344614, 0.05215809, 0.03310248, 0.04289816,
       0.05838704, 0.09330323, 0.04482142, 0.04465814, 0.02608147,
       0.05656208, 0.05469187, 0.0302337 , 0.0396988 ])

In [63]:
# now that we have distance of each movie with respect to other movie, we can create recommendations
# when we will sort the distances, we will loose the position. Hence lets use enumerate function that adds the index position along with the values

In [64]:
sorted(list(enumerate(similarity[6])),reverse=True,key=lambda x:x[1])[1:6]

[(173, 0.5267746422829293),
 (842, 0.5165186529211098),
 (745, 0.5090689120963562),
 (395, 0.5033575589321491),
 (798, 0.4940483476743795)]

In [65]:
new_df_movie['cleaned_title'] = new_df_movie['title'].apply(lambda x:x.lower()).apply(remove_special_characters).str.replace(" ","")

In [66]:
def recommend_based_on_title(search_string):
    '''Function to recommend movies based on title '''
    # Clean the input movie title
    print(search_string)

    cleaned_search_string = remove_special_characters(search_string.lower().strip()).replace(" ","")
    # Search the string in the new dataframe in the tag
    searched_movies = new_df_movie[new_df_movie['tags'].str.contains(cleaned_search_string)]
    # print(find_movie)
    if searched_movies.empty:
        print("String not found in Tag - " + cleaned_search_string)
        searched_movies = new_df_movie[new_df_movie['cleaned_title'].str.contains(cleaned_search_string)]
        if searched_movies.empty:
            movie_list=[]
        else:
        # Get the movie index
            movie_index = searched_movies.index[0]
            print(movie_index)
        # Get the cosine distance of this movie with respect to other movies from similarity matrix computed above
            distances = similarity[movie_index]
        # Sort the distances in ascending order and select first 5 movies closet to the movies
            movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
            return movie_list,searched_movies
    else:
        # Get the movie index
        movie_index = searched_movies.index[0]
        print(movie_index)
        # Get the cosine distance of this movie with respect to other movies from similarity matrix computed above
        distances = similarity[movie_index]
        # Sort the distances in ascending order and select first 5 movies closet to the movies
        movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
        return movie_list,searched_movies

In [67]:
new_df_movie.head(2)

,ml_id,title,imdb_id,tags,cleaned_title
0,1,Toy Story,tt0114709,woodi is a pull-str cowboy doll and leader of ...,toystory
1,3,Four Rooms,tt0113101,"the film is set on new year' eve, and start wi...",fourrooms

In [68]:
new_df_movie[new_df_movie['cleaned_title'].str.contains("toystory")]

,ml_id,title,imdb_id,tags,cleaned_title
0,1,Toy Story,tt0114709,woodi is a pull-str cowboy doll and leader of ...,toystory

In [69]:
new_df_movie.shape

(854, 5)

In [70]:
new_df_movie.iloc[51]

ml_id                                                           82
title                                               Jurassic Park
imdb_id                                                  tt0107290
tags             billionair john hammond, ceo of ingen, ha crea...
cleaned_title                                         jurassicpark
Name: 51, dtype: object

## Testing of content similarity

In [71]:

movie_list,find_movie = recommend_based_on_title('toy story')
if movie_list == []:
    print("No movies found...")
else:
    print("Movies found with the string")
    for i in find_movie['title']:
        print(i)
    print("Recommendations based on first movie in the list")
    for i in movie_list:
        print(new_df_movie.iloc[i[0]].title + new_df_movie.iloc[i[0]].imdb_id)

toy story
String not found in Tag - toystory
0
Movies found with the string
Toy Story
Recommendations based on first movie in the list
Shaggy Dog, The tt0053271
Rebel Without a Cause tt0048545
Jingle All the Way tt0116705
Father of the Bride Part II tt0113041
Crooklyn tt0109504

In [72]:
df_movie[df_movie["imdb_id"].isin(["tt0053271","tt0048545","tt0116705","tt0113041","tt0109504"])]

,ml_id,title,release_year,imdb_id,plot_summary,genre_tags,genre_comb_tag,actors,directors,producers,workers,cleaned_title,tags
500,506,Rebel Without a Cause,1955,tt0048545,"[Shortly, after, moving, to, Los, Angeles, wit...",drama,[drama],"[jamesdean, nataliewood, salmineo, jimbackus]",[nicholasray],[davidweisbart],"[ernesthaller, stewartstern, irvingshulman, le...",rebelwithoutacause,"[Shortly, after, moving, to, Los, Angeles, wit..."
748,756,Father of the Bride Part II,1995,tt0113041,"[George, Banks, must, accept, the, reality, of...",comedy,[comedy],"[stevemartin, dianekeaton, martinshort, kimber...",[charlesshyer],[],"[elliotdavis, alberthackett, francesgoodrich, ...",fatherofthebridepartii,"[George, Banks, must, accept, the, reality, of..."
785,793,Crooklyn,1994,tt0109504,"[The, movie, opens, with, scenes, of, a, racia...",comedy,[comedy],"[alfrewoodard, delroylindo, davidpatrickkelly,...",[spikelee],[],"[barryalexanderbrown, joielee, cinquã©lee, ter...",crooklyn,"[The, movie, opens, with, scenes, of, a, racia..."
835,843,"Shaggy Dog, The",1959,tt0053271,"[Wilby, Daniels, is, constantly, misunderstood...","childrens, comedy","[childrens, comedy]","[fredmacmurray, jeanhagen, tommykirk, annettef...",[charlesbarton],[],"[edwardcolman, billwalsh, lilliehayward, felix...",shaggydogthe,"[Wilby, Daniels, is, constantly, misunderstood..."
854,862,Jingle All the Way,1996,tt0116705,"[Howard, Langston, is, a, workaholic, mattress...","adventure, childrens, comedy","[adventure, childrens, comedy]","[arnoldschwarzenegger, sinbad, philhartman, ri...",[brianlevant],"[michaelbarnathan, chriscolumbus, markradcliffe]","[davidnewman, randykornfield]",jinglealltheway,"[Howard, Langston, is, a, workaholic, mattress..."

In [73]:
# Save the model as pickle file to access in the web app

In [74]:
import pickle

In [76]:
pickle.dump(new_df_movie,open('/Users/gauridhumal/Development Projects/UOL-PROJECTs/CRS/crs_ds/models/content_filtering/movies.pkl','wb'))

In [77]:
pickle.dump(similarity,open('/Users/gauridhumal/Development Projects/UOL-PROJECTs/CRS/crs_ds/models/content_filtering/cosine_similarity.pkl','wb'))

In [78]:
new_df_movie

,ml_id,title,imdb_id,tags,cleaned_title
0,1,Toy Story,tt0114709,woodi is a pull-str cowboy doll and leader of ...,toystory
1,3,Four Rooms,tt0113101,"the film is set on new year' eve, and start wi...",fourrooms
2,4,Get Shorty,tt0113161,"chili palmer , a loan shark base in miami, cla...",getshorty
3,5,Copycat,tt0112722,after give a guest lectur on crimin psycholog ...,copycat
4,6,Shanghai Triad,tt0115012,shanghai triad take place over the cours of se...,shanghaitriad
...,...,...,...,...,...
849,1664,8 Heads in a Duffel Bag,tt0118541,"tommi spinelli , is a wiseguy hire by a pair o...",8headsinaduffelbag
850,1668,Wedding Bell Blues,tt0118127,jasmin is a young woman with men in and out of...,weddingbellblues
851,1672,Kika,tt0107315,"kika , a young, bubbl aspir actress turn cosme...",kika
852,1675,"Sunchaser, The",tt0117781,blue monro is a 16-year-old juvenil offend who...,sunchaserthe
853,1678,Mat' i syn,tt0119711,"{{cleanup}} the film open on two human forms, ...",matisyn